
body {
	margin: 0;
	padding: 0;
}

.counteiner {
	max-width: 1750px;
	margin: auto;
	/*width: 100%;*/
}


.header-box {
	
	width: 100%;
	height: 100vh;
	background-image: url(../Img/BG.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}

.img-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}

.link {
	display: flex;
	justify-content: center;

	margin-right: 35%;
}

.link-novigation {
	margin-right: 30px;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
}

.links {
	text-decoration: none;
	color: #FFFFFF;
}

.logo {
	margin-left: 50px;
}

.boxName-city {
	display: flex;
	width: 100%;
	height: 350px;
}

.box-name {
	width: 400px;
	height: 350px;
	margin-left: 50px;
	margin-top: 120px;
}

.head-btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 25% auto 0;
}

.order {
		width: 300px;
	height: 80px;
	border: 2px solid #FFBD81;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: #FFFFFF;
	background-color: transparent;
	border-radius: 5px;
}

.order:focus {
	outline: none;
}

.order:hover {
	cursor: pointer;
}

.name-author {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.city-author {
	display: flex;
	align-items: flex-start;
	margin-top: -50px;
}

.title-name {
	font-family: Poiret One;
font-style: normal;
font-weight: normal;
font-size: 50px;
color: #FFFFFF;
}

.city-name {
	font-family: Poiret One;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #FFFFFF;
}

.link-social {
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
}

.social-links {
	width: 250px;
	margin-left: auto;
	margin-top: 120px;
	margin-right: 50px;

}

.box-social {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.line {
width: 50px;
height: 0px;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
}

/*конец стилям шапки*/

/*стили для портфолио*/

.portfolio-box {
	max-width: 1750px;
	height: 1000px;
	margin-bottom: 5%;
}


.box-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.port-line {
	width: 40%;
	border: 2px solid #FFBD81;
}

.title-port {
	font-family: Poiret One;
font-style: normal;
font-weight: normal;
font-size: 26px;
}

.img-port {
	width: 350px;
	height: 350px;
}

@media (max-width: 1200px) {
	.img-port {
		width: 200px;
		height: 200px;
	}
}

.portfolio {
	width: 100%;
	height: 80vh;
	margin: 0;
	padding: 30px 0 30px 0;
}

.section-one {
	display: flex;
	justify-content: space-around;
	width: 90%;
	height: 350px;
	margin: 0 auto 4%;
}

@media (max-width: 1200px) {
	.section-one {
		margin: auto;
	}
}

.section-two {
	display: flex;
	justify-content: space-around;
	width: 90%;
	height: 350px;
	margin: 0 auto 4%;
}


.box-btn {
	display: flex;
	justify-content: center;
	width: 100%;
}

.to-order {
	width: 350px;
	height: 88px;
	border: 2px solid #FFBD81;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: #000000;
	margin-bottom: 3%;
	border-radius: 5px;
	background-color: transparent;
}

.to-order:focus {
	outline: none;
}

.to-order:hover {
	cursor: pointer;
}

/*конец стилям портфолио*/

/*стили для цен*/

.box-price {
	max-width: 1750px;
	height: 100vh;
	margin-bottom: 50px;
}

.price-main {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 85vh;

}

.price-list {
	width: 30%;
	height: 85vh;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.13), -4px -4px 25px rgba(247, 247, 247, 0.1);
}

.title-price {
	display: flex;
	justify-content: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

.scrip {
	display: flex;
	justify-content: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: #FFBD81;
}

.text-price {
	display: flex;
	justify-content: center;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
}

.boxBtn-price {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.btn-price {
width: 340px;
height: 78px;
border: 2px solid #FFBD81;
box-sizing: border-box;
border-radius: 5px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
background-color: transparent;
}

.btn-price:focus {
	outline: none;
}

.btn-price:hover {
	cursor: pointer;
}

/*конец стилям на цены*/

/*стили для экрана "обо мне"*/

.box-aboutMe {
	width: 100%;
	height: 70vh;
	background: linear-gradient(to right, #FFBD81 60%, white 40%);
	margin-bottom: 5%;
}

.boxAbout-photo {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 75vh;
	margin: 30px auto 5%;
}

.text-about {
	width: 40%;
	height: 50vh;
	margin-top: 10px;
}

.photo-about {
	width: 610px;
	height: 327px;
/*	width: 65%;
	height: 65vh;*/
	background-color: pink;
	background-image: url(../Img/about.png);
	background-size: cover;
	background-position: center;
	margin-top: -20px;
}

.about-meText {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 157.19%;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 1250px) {
	.about-meText {
	white-space: nowrap;
	overflow: hidden;
	}
}

.lineWhite {
	width: 40%;
	border: 2px solid white;
}

/*конец стилям обо мне*/

/*стили контакты*/

.box-contacts {
	width: 100%;
	height: 100vh;
}

.box-contact {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 85vh;
}

.left-box {
	width: 40%;
	height: 85vh;
}

.phone-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 22vh;
	margin: 20px auto 0;
/*	padding: 20px 0  20px 0;
	box-sizing: border-box;*/
	background: #FFFFFF;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15), -10px -10px 25px rgba(244, 244, 244, 0.15);
}

.phone {
	display: flex;
	align-items: center;
	margin-left: 30%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}

.img-number {
	margin-right: 20px;
}

.img-mail {
	margin-right: 20px;
}

.mail {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 30%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}

.social-info {
	display: flex;
	flex-direction: column-reverse;	
	width: 100%;
	height: 25vh;
	margin: 20px auto 0;
	padding: 20px 0  20px 0;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15), -10px -10px 25px rgba(244, 244, 244, 0.15);
}

.social-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;	
}

.social-link {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 210px;

}

.city-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 25vh;
	margin: 20px auto 0;
	background: #FFFFFF;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15), -10px -10px 25px rgba(244, 244, 244, 0.15);
}


.city {
	display: flex;
	align-items: center;
	margin-left: 30%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}

.messeng {
	display: flex;
	align-items: center;
	margin-left: 30%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;	
}

.img-city {
	margin-right: 20px;
}

.img-messeng {
	margin-right: 20px;
}

.right-box {
	/*display: flex;
	flex-direction: column;	*/
	width: 40%;
	height: 540px;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15), -10px -10px 25px rgba(244, 244, 244, 0.15);
}


/*инпуты*/

.unput-name {
	width: 70%;
	border-bottom: 2px solid #424242;
	margin: 50px auto 50px;
}

.in-name {
	border: none;
	margin-bottom: 5px;
}

.in-name:focus {
	outline: none;
}

.unput-phone {
	width: 70%;
	border-bottom: 2px solid #424242;
	margin: auto;	
	margin: 50px auto 50px;
}

.unput-mail {
	width: 70%;
	border-bottom: 2px solid #424242;
	margin: auto;	
	margin: 50px auto 50px;
}

.unput-messeng {
	width: 70%;
	border-bottom: 2px solid #424242;
	margin: auto;	
	margin: 50px auto 50px;
}


.user-messeng {
	border: none;
		width: 100%;
	margin: auto;
}

.user-messeng:focus {
	outline: none;
}



.unput-btn {
	display: flex;
	justify-content: center;
	margin: 70px auto 0;
}

.btn-input {
width: 340px;
height: 78px;
border: 2px solid #FFBD81;
box-sizing: border-box;
border-radius: 5px;	
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
background-color: transparent;
}

.btn-input:focus {
	outline: none;
}

.btn-input:hover {
	cursor: pointer;
}

/*конец стилям для форм*/

/*подвал*/

.footer-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	background: #FFBD81;
	margin: 50px auto 0;
}

.footer-text {
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #424242;
}